.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  gap: 15px;
}
.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  gap: 5px;
}
.number {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.number:link,
.number:visited {
  border-radius: 50%;
}
.number:hover {
  border: 0px solid green;
  border-radius: 50%;
  background-color: green;
  color: aliceblue;
}
.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid green;
  background: none;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
}
.btn:hover .btn-icon {
  color: white;
}
.current-number {
  background-color: green;
  color: white;
}
.btn-icon {
  color: green;
}
.btn-icon:hover {
  color: white;
}
