* {
}
body {
  font-family: Inter, sans serif;
}
.my-image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 25%);
  transform: scale(1.2);
  padding-left: 20px;
  background-color: transparent;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0 0 0;
}
.container2 {
  background-color: green;
  width: 800px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.text {
  width: 450px;
  font-family: "Inter", sans-serif;
  color: aliceblue;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
